.nav {
    width: 200px;
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    padding: 20px
}

.section {
    display: flex;
    flex-direction: column;
}

.generalSection {
    height: 60px;
}

.generalSection>button {
    height: 35px;
    line-height: 35px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
    background-color: transparent;
}

.generalSection>button:hover {
    background-color: #c1c2c2;
}

.default-button.active {
    background-color: #c1c2c2;
}

.tasksSection {
    height: 500px;
}

.projectDiv {
    padding: 30px 0px 20px;
}

.projectDiv>h2 {
    display: inline;
    line-height: 20px;
}

#addProject {
    width: 90%;
    margin-top: 10px;
    height: 25px;
}

.addDiv {
    display: none;
}

.addDiv.display {
    display: block;
}

.addBtn {
    height: 30px;
    width: 80px;
    margin: 10px 12px 0px 0px;
    border: 1px solid #99dd99;
    background-color: #aaffaa;
    font-weight: bold;
}

.addBtn:hover {
    background-color: #a6f0a6;
}

.cancelBtn {
    height: 30px;
    width: 80px;
    margin: 10px 0px 0px 12px;
    border: 1px solid #eeadad;
    background-color: #ffbebe;
    font-weight: bold;
}

.cancelBtn:hover {
    background-color: #f5b2b2;
}

.projectDiv>span {
    float: right;
    padding-right: 10px;
    cursor: pointer;
}

.projectDiv>span:hover {
    color: #546E7A;
}

.taskContainer {
    height: inherit;
    overflow-y: hidden;
}

.taskContainer:hover {
    overflow-y: auto;
}

.taskButton {
    margin-bottom:20px;
    height: 35px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
    background-color: transparent;
}

.taskButton:hover {
    background-color: #c1c2c2;
}

.close {
    float: right;
    cursor: pointer;
}

.close:hover {
    color: #E53935;
}



.material-symbols-outlined {
    vertical-align:-6px;
    padding-right: 5px;
}
