body {
    margin: 0px;
}

header {
    text-align: center;
}

.main-container {
    position: absolute;
    width: 200px;
    font-size: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: large;
    position: absolute;
    z-index: -1;
    left: 95px;
    top: 95px;
    margin: 0px;
}


.main-container > div {
    display: inline-block;
}

.main-container:hover > .left > #red {
    transform: rotate(90deg);
    transform-origin: top left;
    transition: transform 2s ease;
}

.main-container:hover > .left > #blue {
    transform: rotate(-90deg);
    transform-origin: bottom left;
    transition: transform 2s ease;
}

.main-container:hover > .right > #yellow {
    transform: rotate(-90deg);
    transform-origin: top right;
    transition: transform 2s ease;
}

.main-container:hover > .right > #green {
    transform: rotate(90deg);
    transform-origin: bottom right;
    transition: transform 2s ease;
}

.box {
    height: 100px;
    width: 100px;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}